.inputes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.drop-inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
input{
    width: 220px;
    height: 30px;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 10px;;
}
.category-list {
    position: absolute;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}
.delete-btn{
    background-color: #e65c00;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    font-size:14px;
    color: white;
}
.archiv-btn {
    background-color: #3123b3;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    font-size: 14px;
        color: white;
}
.edit-btn {
    background-color: #50b428;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    font-size: 14px;
        color: white;
}

ul li {
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

ul li:hover {
    background-color: #e65c00;
}
.add-btn{
    width: 200px;
    height: 40px;
    background-color: rgb(14, 150, 150);
    margin: 20px 20px 20px 20px;
    text-align: center;
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(13, 187, 187);
}
.todo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 100px;
    width: 70%;
    background-color: rgb(126, 126, 126);
}
.todo-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    height: 70px;
    width: 70%;
    background-color: rgb(224, 224, 224);
}